doctype html
html
  head
    title= title
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(type="text/javascript" src="../public/javascripts/ar-drone.js")
    link(type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js")
    link(type="text/javascript" src="path/to/dist/jquery.facedetection.min.js")
    link(type="text/javascript" src="../public/javascripts/facedetection.js")
  body
    block content
    